@using appointments.Helper;
@using vacations.Models.Helper

<div class="row">
    <div class="container">
        @if (User.IsInRole(RoleNames.Role_Admin))
        {
            <div class="form-group row col-6" id="divAppWorkerList">
                <label>Wybierz pracownika</label>
                @Html.DropDownList("appWorkerId", new SelectList(ViewBag.WorkerList, "Id", "Name"),
               new
                    {
                        @class = "form-control select2",
                   @onchange = "OnWorkerChange();"
               })
            </div>
        }
        else
        {
            <div class="form-group row col-6" id="divAppWorkerList">
                <label>Pracownik</label>
                <label>@ViewBag.CurrentUser.Name</label>
                <input type="text" hidden id="appWorkerId" value="@ViewBag.CurrentUser.Id" />
            </div>
        }
        <div class="row">
            <div class="col-2">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th scope="col">Liczba dni urlopowych</th>
                            <th class="align-middle" scope="col">@ViewBag.CurrentUser.VacationDays</th>
                        </tr>
                        <tr>
                            <th scope="col">Wykorzystano w tym miesiącu</th>
                            <th class="align-middle" scope="col">@ViewBag.CurrentUser.VacationDays</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-10" id="calendar"></div>
        </div>
    </div>
</div>

<partial name="_AddEditApointment" />